/**
  * Grid
  * Matt Mcnamee - www.mcnamee.co
  * V2 2014
  **/

/*  Resets
    ---------------- */
    * { text-rendering: optimizeLegibility; font-size: 100%; -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }
    html, body { height: 100%; }
    html { font-size : 100%; -webkit-text-size-adjust : 100%; -ms-text-size-adjust : 100%; overflow-y: scroll; }
    body, button, input, select, textarea { font-family : sans-serif; color : #222; }
    body { background: #fff; margin : 0; font-size : 1em; line-height : 1.4; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }
    a { color : #00e; outline : 0; }
    a:hover { color : #06e; }
    abbr[title] { border-bottom : 1px dotted; }
    b, strong { font-weight : bold; }
    dfn { font-style : italic; }
    hr { display : block; height : 1px; border : 0; border-top : 1px solid #ccc; margin : 1em 0; padding : 0; }
    ins { background : #ff9; color : #000; text-decoration : none; }
    mark { background : #ff0; color : #000; font-style : italic; font-weight : bold; }
    pre, code, kbd, samp { font-family : monospace, serif; _font-family : 'courier new', monospace; font-size : 1em; }
    pre { white-space : pre; white-space : pre-wrap; word-wrap : break-word; }
    q { quotes : none; }
    q:before, q:after { content : ""; content : none; }
    small { font-size : 85%; }
    sub, sup { font-size : 75%; line-height : 0; position : relative; vertical-align : baseline; }
    sup { top : -0.5em; }
    sub { bottom : -0.25em; }
    ul, ol { margin : 0; padding : 0; }
    dd { margin : 0 0 0 40px; }
    nav ul, nav ol { list-style : none; list-style-image : none; margin : 0; padding : 0; }
    img { border : 0; -ms-interpolation-mode : bicubic; vertical-align : middle; }
    svg:not(:root) { overflow : hidden; }
    figure { margin : 0; }
    form { margin : 0; }
    fieldset { border : 0; margin : 0; padding : 0; }
    label { cursor : pointer; }
    legend { border : 0; *margin-left : -7px; padding : 0; white-space : normal; }
    button, input, select, textarea { font-size : 100%; margin : 0; vertical-align : baseline; *vertical-align : middle; }
    button, input { line-height : normal; }
    button, input[type="button"], input[type="reset"], input[type="submit"] { cursor : pointer; -webkit-appearance : button; *overflow : visible; }
    button[disabled], input[disabled] { cursor : default; }
    input[type="checkbox"], input[type="radio"] { box-sizing : border-box; padding : 0; *width : 13px; *height : 13px; }
    input[type="search"] { -webkit-appearance : textfield; -moz-box-sizing : content-box; -webkit-box-sizing : content-box; box-sizing : content-box; }
    input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance : none; }
    button::-moz-focus-inner, input::-moz-focus-inner { border : 0; padding : 0; }
    textarea { overflow : auto; vertical-align : top; resize : vertical; }
    input:valid, textarea:valid { }
    input:invalid, textarea:invalid { background-color : #f0dddd; }
    table { border-collapse : collapse; border-spacing : 0; }
    td { vertical-align : top; }
    .chromeframe { margin : 0.2em 0; background : #ccc; color : black; padding : 0.2em 0; }
	address { display: block; line-height: 18px; margin-bottom: 18px; }
    ::-moz-selection { background: #333333; color: #ffffff; text-shadow: none; }
    ::selection { background: #333333; color: #ffffff; text-shadow: none; }
	p img { margin: 0; }
	em { font-style: italic; }
	small { font-size: 80%; }
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 10px 20px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; float: left; }
    audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
    audio:not([controls]) { display: none; }
    [hidden] { display: none; }
    .grid_demo, .grid_demo_g { margin: 0 0 20px; font-size: 11px; }
    .grid_demo .inner, .grid_demo_g > .inner > div { background: #ececec; border: 1px solid #ccc; border-right: 0; padding-top: 30px; padding-bottom: 30px; }
    .grid_demo .inner:last-child, .grid_demo_g > .inner > div { border-right: 1px solid #ccc; }

/*  Utility Classes
    ---------------- */
	.float_right { float: right !important; }
	.float_left { float: left !important; }

	.text_align_center { text-align: center !important; }
    .text_align_right { text-align: right !important; }
    .text_align_left { text-align: left !important; }

	.scale_with_grid { max-width: 100%; width: auto; height: auto; max-height: 100%; }

/*  Clearing
    ---------------- */
    .clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
    .clearfix:before, .clearfix:after, .container_12:before, .container_12:after {
        content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;
    }
    .clearfix:after, .container_12:after { clear: both; }
    .clearfix, .container_12 { zoom: 1; }

/*  Defaults
    ---------------- */
    .container_12 {
        margin-left: auto; margin-right: auto;
        -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
        -webkit-transition: width linear 0.2s; -moz-transition: width linear 0.2s; transition: width linear 0.2s;
    }

    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
        display: inline-block; float: left; position: relative; margin: 0; padding: 0;
        -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    }
    
    .hidden { display: none !important; visibility: hidden; }

/*  Inner Padding
    ---------------- */
    .inner { padding-left: 10px; padding-right: 10px; }
    .inner_l { padding-left: 10px; }
    .inner_r { padding-right: 10px; }
    .inner_t { padding-top: 10px; }
    .inner_b { padding-bottom: 10px; }

/*  DEFAULT Grid: 1024px - 1199px
    ---------------- */
    body { min-width: 1008px; }
    .container_12 { width: 1008px; }

    .grid_1  { width: 8.33333333%; }
    .grid_2  { width: 16.66666667%; }
    .grid_3  { width: 25%; }
    .grid_4  { width: 33.33333333%; }
    .grid_5  { width: 41.66666667%; }
    .grid_6  { width: 50%; }
    .grid_7  { width: 58.33333333%; }
    .grid_8  { width: 66.66666667%; }
    .grid_9  { width: 75%; }
    .grid_10 { width: 83.33333333%; }
    .grid_11 { width: 91.66666667%; }
    .grid_12 { width: 100%; }

    .prefix_1  { margin-left: 8.33333333%; }
    .prefix_2  { margin-left: 16.66666667%; }
    .prefix_3  { margin-left: 25%; }
    .prefix_4  { margin-left: 33.33333333%; }
    .prefix_5  { margin-left: 41.66666667%; }
    .prefix_6  { margin-left: 50%; }
    .prefix_7  { margin-left: 58.33333333%; }
    .prefix_8  { margin-left: 66.66666667%; }
    .prefix_9  { margin-left: 75%; }
    .prefix_10 { margin-left: 83.33333333%; }
    .prefix_11 { margin-left: 91.66666667%; }
    .prefix_12 { margin-left: 100%; }

    html.no-borderradius .hidden_l { display: none !important; }

    html.no-borderradius .visible_xs { display: none !important; }
    html.no-borderradius .visible_s { display: none !important; }
    html.no-borderradius .visible_m { display: none !important; }
    html.no-borderradius .visible_xl { display: none !important; }
    html.no-borderradius .visible_phone { display: none !important; }

    @media only screen and (min-width: 1024px) and (max-width: 1199px) {
        .hidden_l { display: none !important; }

        .visible_xs { display: none !important; }
        .visible_s { display: none !important; }
        .visible_m { display: none !important; }
        .visible_xl { display: none !important; }
        .visible_phone { display: none !important; }
    }

/*  EXTRA-LARGE (XL) Grid: 1200px+
    ---------------- */
    @media only screen and (min-width: 1200px) {
        body { min-width: 1170px; }
        .container_12 { width: 1170px; }

        .grid_1_xl  { width: 8.33333333%; }
        .grid_2_xl  { width: 16.66666667%; }
        .grid_3_xl  { width: 25%; }
        .grid_4_xl  { width: 33.33333333%; }
        .grid_5_xl  { width: 41.66666667%; }
        .grid_6_xl  { width: 50%; }
        .grid_7_xl  { width: 58.33333333%; }
        .grid_8_xl  { width: 66.66666667%; }
        .grid_9_xl  { width: 75%; }
        .grid_10_xl { width: 83.33333333%; }
        .grid_11_xl { width: 91.66666667%; }
        .grid_12_xl { width: 100%; }

        .prefix_1_xl  { margin-left: 8.33333333%; }
        .prefix_2_xl  { margin-left: 16.66666667%; }
        .prefix_3_xl  { margin-left: 25%; }
        .prefix_4_xl  { margin-left: 33.33333333%; }
        .prefix_5_xl  { margin-left: 41.66666667%; }
        .prefix_6_xl  { margin-left: 50%; }
        .prefix_7_xl  { margin-left: 58.33333333%; }
        .prefix_8_xl  { margin-left: 66.66666667%; }
        .prefix_9_xl  { margin-left: 75%; }
        .prefix_10_xl { margin-left: 83.33333333%; }
        .prefix_11_xl { margin-left: 91.66666667%; }
        .prefix_12_xl { margin-left: 100%; }

        .hidden_xl { display: none !important; }

        .visible_xs { display: none !important; }
        .visible_s { display: none !important; }
        .visible_m { display: none !important; }
        .visible_l { display: none !important; }
        .visible_phone { display: none !important; }
    }

/*  MEDIUM (M) Grid: 768px - 1023px
    ---------------- */
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        body { min-width: 750px; }
        .container_12 { width: 750px; }

        .grid_1_m  { width: 8.33333333%; }
        .grid_2_m  { width: 16.66666667%; }
        .grid_3_m  { width: 25%; }
        .grid_4_m  { width: 33.33333333%; }
        .grid_5_m  { width: 41.66666667%; }
        .grid_6_m  { width: 50%; }
        .grid_7_m  { width: 58.33333333%; }
        .grid_8_m  { width: 66.66666667%; }
        .grid_9_m  { width: 75%; }
        .grid_10_m { width: 83.33333333%; }
        .grid_11_m { width: 91.66666667%; }
        .grid_12_m { width: 100%; }

        .prefix_1_m  { margin-left: 8.33333333%; }
        .prefix_2_m  { margin-left: 16.66666667%; }
        .prefix_3_m  { margin-left: 25%; }
        .prefix_4_m  { margin-left: 33.33333333%; }
        .prefix_5_m  { margin-left: 41.66666667%; }
        .prefix_6_m  { margin-left: 50%; }
        .prefix_7_m  { margin-left: 58.33333333%; }
        .prefix_8_m  { margin-left: 66.66666667%; }
        .prefix_9_m  { margin-left: 75%; }
        .prefix_10_m { margin-left: 83.33333333%; }
        .prefix_11_m { margin-left: 91.66666667%; }
        .prefix_12_m { margin-left: 100%; }

        .hidden_m { display: none !important; }

        .visible_xs { display: none !important; }
        .visible_s { display: none !important; }
        .visible_l { display: none !important; }
        .visible_xl { display: none !important; }
        .visible_phone { display: none !important; }
    }

/*  Stack on Small Screens: < 767px
    ---------------- */
    @media only screen and (max-width: 767px) {
        body { min-width: 300px; }
       .container_12 { width: 90%; }

        .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
            width: 100%;
        }

        .hidden_phone { display: none !important; }
    }

/*  SMALL (S) Grid: 480px - 767px
    ---------------- */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        body { min-width: 420px; }

        .grid_1_s  { width: 8.33333333%; }
        .grid_2_s  { width: 16.66666667%; }
        .grid_3_s  { width: 25%; }
        .grid_4_s  { width: 33.33333333%; }
        .grid_5_s  { width: 41.66666667%; }
        .grid_6_s  { width: 50%; }
        .grid_7_s  { width: 58.33333333%; }
        .grid_8_s  { width: 66.66666667%; }
        .grid_9_s  { width: 75%; }
        .grid_10_s { width: 83.33333333%; }
        .grid_11_s { width: 91.66666667%; }
        .grid_12_s { width: 100%; }

        .prefix_1_s  { margin-left: 8.33333333%; }
        .prefix_2_s  { margin-left: 16.66666667%; }
        .prefix_3_s  { margin-left: 25%; }
        .prefix_4_s  { margin-left: 33.33333333%; }
        .prefix_5_s  { margin-left: 41.66666667%; }
        .prefix_6_s  { margin-left: 50%; }
        .prefix_7_s  { margin-left: 58.33333333%; }
        .prefix_8_s  { margin-left: 66.66666667%; }
        .prefix_9_s  { margin-left: 75%; }
        .prefix_10_s { margin-left: 83.33333333%; }
        .prefix_11_s { margin-left: 91.66666667%; }
        .prefix_12_s { margin-left: 100%; }

        .hidden_s { display: none !important; }

        .visible_xs { display: none !important; }
        .visible_m { display: none !important; }
        .visible_l { display: none !important; }
        .visible_xl { display: none !important; }
    }

/*  EXTRA-SMALL (XS) Grid: < 479px
    ---------------- */
    @media only screen and (max-width: 479px) {
        .grid_1_xs  { width: 8.33333333%; }
        .grid_2_xs  { width: 16.66666667%; }
        .grid_3_xs  { width: 25%; }
        .grid_4_xs  { width: 33.33333333%; }
        .grid_5_xs  { width: 41.66666667%; }
        .grid_6_xs  { width: 50%; }
        .grid_7_xs  { width: 58.33333333%; }
        .grid_8_xs  { width: 66.66666667%; }
        .grid_9_xs  { width: 75%; }
        .grid_10_xs { width: 83.33333333%; }
        .grid_11_xs { width: 91.66666667%; }
        .grid_12_xs { width: 100%; }

        .prefix_1_xs  { margin-left: 8.33333333%; }
        .prefix_2_xs  { margin-left: 16.66666667%; }
        .prefix_3_xs  { margin-left: 25%; }
        .prefix_4_xs  { margin-left: 33.33333333%; }
        .prefix_5_xs  { margin-left: 41.66666667%; }
        .prefix_6_xs  { margin-left: 50%; }
        .prefix_7_xs  { margin-left: 58.33333333%; }
        .prefix_8_xs  { margin-left: 66.66666667%; }
        .prefix_9_xs  { margin-left: 75%; }
        .prefix_10_xs { margin-left: 83.33333333%; }
        .prefix_11_xs { margin-left: 91.66666667%; }
        .prefix_12_xs { margin-left: 100%; }

        .hidden_xs { display: none !important; }

        .visible_s { display: none !important; }
        .visible_m { display: none !important; }
        .visible_l { display: none !important; }
        .visible_xl { display: none !important; }
    }

/*  Print
    ---------------- */
  @media print {
        * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; font-family: Arial, Helvetica, sans-serif; margin: 20px 0; text-align: left !important; }
        body { font-size: 11px; line-height: 1.2em; }
        body div { display: block; float: left; width: 90%; margin: 10px auto; padding: 0; }
        a, a:visited { text-decoration: underline; }
        a[href]:after{ content: ""; display: none; }
        .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
        pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
        thead { display: table-header-group; }
        tr, img { page-break-inside: avoid; }
        img { max-width: 100% !important; }
        p, h2, h3 { orphans: 3; widows: 3; }
        h2, h3 { page-break-after: avoid; }
        p, ul, table, h1, h2, h3, h4, h5 { margin: 0 0 8px; padding: 0; }
        .hidden_print { display: none !important; }
	}
